# Semana 07

1.NÃºmeros
2.Variables
3.Manejo de variables
4.Ingreso de datos por teclado
5.Edad

2.Varibales

In [ ]:
#siempre se debe iniciar con una letra o un guion abajo. (Nunca con un numero u otro simbolo)

In [3]:
edad=41
edad

41

In [4]:
nombre = "Andres"
nombre

'Andres'

In [5]:
apellido="Rejas Ramirez"
apellido

'Rejas Ramirez'

In [6]:
nombrecompleto =nombre + apellido
nombrecompleto

'AndresRejas Ramirez'

In [7]:
nombrecompleto = nombre +" " + apellido
nombrecompleto

'Andres Rejas Ramirez'

In [9]:
#Para saber el tipo de variable utilizamos la funcion type()
numero = 50 
type(numero)

int

In [10]:
type(nombre)

str

In [11]:
talla=1.57
talla

1.57

In [12]:
#Para convertir unnumero en cadena utilizamos sttr()
numero=100
cadena=str(numero)
cadena

'100'

In [13]:
type(cadena)

str

In [14]:
#Para convertir una cadena en un entero utilizamos int()
cadena2="50"
numero2=int(cadena2)
numero2

50

In [15]:
type(numero2)

int

In [16]:
#Para convertir una cadena a un decimal utilizamos float()
cadena2="50"
numero2=float(cadena2)
numero2

50.0