# Semana 07

1.Numeros
2.variables
3.Manejo de variables
4.Ingreso de datos por teclado
5.Edad

3.Manejo de cadenas

In [1]:
cadena ="Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [3]:
#Universidad Nacional Tecnologica de Lima Sur
#01234
#

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
#tambien considera los espacios
cadena[11]

' '

In [11]:
#¿Que me mostrara?
cadena[-5]

'a'

In [12]:
cadena[21]

'T'

In [13]:
#tambien lo pudo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [14]:
#para mostrar una subcadena [desde, hasta una antes]
#En java era substring()
cadena[3:8]

'versi'

In [15]:
#Para saber el tamaño de una cadena utilizamos len()
#incluye espacion en blanco
len(cadena)

44

In [17]:
#Para mostrar una cadena en mayuscyla utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [18]:
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [19]:
#genera una lista a partir de una cadena.split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [21]:
#genera una lista  utilizando un criterio de separacion a partir de una cadena. split()
#En ese caso vamos a generar una lista de toda la cadena,
#utilizamos como creiterio de serparacion la letra"A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [22]:
# Forma clasica, concatenar con +
nombre= "Andres Rejas"
print("Buenas Tardes "+ nombre)

Buenas Tardes Andres Rejas

In [25]:
# Utilizando el .format()
nombre = "Pablo Lévano"
edad=10
print("hola {} ya se que tienes {} años".format(nombre,edad))

hola Pablo Lévano ya se que tienes 10 años

In [32]:
#dar formato a numeros con muchos decimales
resultado=10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.5f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.33333

In [36]:
# Concatenamos con la funcion f
nombre = "Pablo Lévano"
edad=10
print(f"hola {nombre} ya se que tienes {edad} años")

hola Pablo Lévano ya se que tienes 10 años

In [37]:
#dar formato a numero con muchos decimales con f
resultado=10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333