# Semana 7

1.Números
2.Variables
3.Manejo de variables
4.Ingreso de datos por teclado
5.Edad

5.Operadores

In [ ]:
#5.1 Operadores aritmeticos
#Se tiene: +, -, *,/, **,%,//

In [1]:
numero1=10
numero2=3
suma=numero1+numero2
print(suma)
resta=numero1-numero2
print(resta)
multiplicacion=numero1*numero2
print(multiplicacion)
division=numero1/numero2
print(division)
residuo=numero1%numero2
print(residuo)
cociente=numero1//numero2
print(cociente)
potencia=numero1**numero2
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [3]:
#5.2 operadores de asignacion
#se tiene: =,+=,-=,*-,/-,**-
numero=5
numero=numero+3
print(numero)

8

In [4]:
#La operacion anterior tambien se puede expresar de la siguiente manera
numero=5
numero+=3
print(numero)

8

In [7]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
numero=5
numero=numero ** 3
print(numero)

125

In [8]:
#la operacion anterior tmabine se puded expresar de la siguiente manera:
numero =5
numero**=3
print(numero)

125

In [ ]:
#5.3 Operadores de comparacion
#se tinene: ==,!=,<,>,<=,>=

In [9]:
#Ejemplo de igualdad
numero1=5
numero2=2
numero1==numero2

False

In [10]:
#Con las cadenas funcion igual
nombre1="Juan"
nombre2="Juan"
nombre1==nombre2

True

In [11]:
#5.4 Operadores logicos
#Se tiene : and, or , not
numero1 =5
numero2 =6 
numero3=7
numero4=8

In [12]:
# El not invierte el resultado
not(numero1<numero2)

False

In [14]:
numero1<numero2 and numero3<numero4

True

In [15]:
#Tambien puede utilizar parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4)or (numero3>numero4)

True

In [ ]:
#5.5 operadores de pertenencia
#se tiene: in not in

In [16]:
# Miremos un ejemplo
aula=["Juan","Daniel","Ruben"]
alumno1="Diego"
alumno2="Juan"

In [18]:
#¿Diego esta en aula
alumno1 in aula

False

In [19]:
#¿Juan esta ne aula?
alumno2 in aula

True

In [22]:
#¿Diego esta en aula?
alumno2 not in aula

False

In [23]:
#5.6 Operadores de identidad
#se tiene: is, is not

In [25]:
aula1=["Juan","Daniel","Ruben"]
aula2=["Juan","Daniel","Ruben"]
#A continucacion vamos a indicar que aula 3 va a 
#compartir el mismo objeto que aula1
aula3 =aula1

In [26]:
# ¿Aula3 comparte el mismo objeto que aula 1?
aula3 is aula1

True

In [29]:
#¿Aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [30]:
aula1.append("Diego")

In [31]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [32]:
#Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [33]:
#Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']